body {
    background-color: #84c8a1;
}

.login-outercontainer {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 350px;
    height: 400px;
    margin: auto;
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

h1 {
    margin: 0 0 20px 0;
    font-size: 36px;
}

form > div {
    display: inline-block;
    font-size: 18px;
}

.input {
    margin: 3px 0 10px 0;
    font-size: 14px;
    width: 200px;
    height: 20px;
}

.button {
    width: 208px;
    font-size: 14px;
}

a {
    margin: 5px 0 0 0;
    float: right;
}
