/*

authors: George Daish

dates edited:

8/03/2021

*/



* {

    box-sizing: border-box;

}



html,

body {

    background: #383838;

    padding: 0;

    margin: 0;

    height: 100%;

}



header {

    width: 100%;

    height: 80px;

    background-color: #212121;

    font-family: Verdana, sans-serif;

}



header .logo {

    float: left;

    padding: 15px 0 0 15px;

}



header h1 {

    float: left;

    margin-left: 20px;

}



header h1 a {

    display: block;

    width: 450px;

    height: 100px;

    text-decoration: none;

    color: #fff;

}





header .menu > div > nav > ul {

    text-align: center;

    float: right;

    padding: 0 30px 0 0;

}



header .menu > div > nav > ul:hover {

    overflow: visible;

}



header .menu > div > nav > ul > li {

    float: left;

    position: relative;

    list-style: none;

}



header .menu > div > nav > ul > li > a {

    display: block;

    position: relative;

    width: 100px;

    height: 50px;

    line-height: 50px;

    text-decoration: none;

    font-size: 17px;

    font-weight: bold;

    color: #fff;

}

.bulletinboard-container {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 800px;
    height: 1000px;
    margin-left:auto;
    margin-right:auto;
    background-color: #212121;
    display: block;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: #bdbdbd;
    font-family: Verdana, sans-serif;

    padding: 5px;
}
.create-bulletinboard-container {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 800px;
    height: 370px;
    margin-left:auto;
    margin-right:auto;
    background-color: #212121;
    display: block;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
    color: #bdbdbd;
    font-family: Verdana, sans-serif;

}
.title {

    left: 0;
    right: 0;
    width: 90%;
    height: 50px;
    margin-left:auto;
    margin-right:auto;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #383838;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: #bdbdbd;
    font-family: Verdana, sans-serif;
}
.content {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 90%;
    height: 200px;
    margin-left:auto;
    margin-right:auto;
    background-color: #383838;
    display: block;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding:5px;
}
.content2 {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 90%;
    height: 40px;
    margin-left:auto;
    margin-right:auto;
    background-color: #383838;
    display: block;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding:5px;
}
.content3-allposts {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 90%;
    height: 900px;
    margin-left:auto;
    margin-right:auto;
    background-color: #383838;
    display: block;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding:10px;
    overflow-y:scroll;
    scroll-behavior: auto;
}
.post {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 90%;
    height: 200px;
    margin-left:auto;
    margin-right:auto;
    background-color: #212121;
    display: block;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding:10px;
    overflow-x: auto;
    overflow-y:scroll;
    scroll-behavior: auto;
    margin-top: 10px;
    margin-bottom: 10px;


}

.create-b {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 90%;
    height: 400px;
    margin-left:auto;
    margin-right:auto;
    background-color: #212121;
    display: block;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding:10px;
    color: #bdbdbd;
    font-family: Verdana, sans-serif;
}
