body {
    background-color: #6ece7be7;
}

.login-outercontainer {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 350px;
    height: 700px;
    margin: auto;
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
	font-family: 'Helvetica', monospace;
}

input {
    border-color: transparent;
    transition: all .2s linear;
}

input:focus {
    background-color: #e1f1e3e7;
    transition: all .2s linear;
}

input:hover {
    background-color: #e1f1e3e7;
    transition: all .2s linear;
}

button {
    border-color: transparent;
    padding: 5px 0;
    background-color: #6ece7be7;
    color: white;
    font-weight: bold;
    transition: all .2s linear;
}

button:hover {
    background-color: #86d390e7;
    transition: all .2s linear;
}

h1 {
    margin: 0 0 20px 0;
    font-size: 36px;
}

form > div {
    display: inline-block;
    font-size: 18px;
}

.input {
    margin: 2px 0 7px 0;
    font-size: 14px;
    width: 200px;
    height: 20px;
}

.button {
    width: 208px;
    font-size: 14px;
}

a {
    margin: 5px 0 0 0;
    float: right;
}